
node_modules/__ngcc_entry_points__.json
.idea/vcs.xml
.idea/stylesheetLinters/stylelint.xml
.idea/original_UI.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/web_app.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/web_app.xml
.idea/modules.xml
.idea/original_UI.iml
.idea/vcs.xml
node_modules/__ngcc_entry_points__.json
node_modules/__ngcc_entry_points__.json
